<ion-header>

    <common-header title="סטטיסטיקה"></common-header>

</ion-header>

<ion-content dir="rtl">

    <ion-row style="border-bottom: 1px solid lightgrey;">
        <ion-col col-12 text-center>
            <h4>קודים שנתנו</h4>
        </ion-col>
    </ion-row>

    <ion-row text-center>
        <ion-col col-2>כמות נקודות</ion-col>
        <ion-col col-5>מי נתן</ion-col>
        <ion-col col-5>מי קיבל</ion-col>
    </ion-row>

    <div *ngIf="codes && codes.length" text-center>
        <ion-row *ngFor="let code of codes" class="custom-row" align-items-center>
            <ion-col col-2>{{code.reward}}</ion-col>
            <ion-col col-5 class="small-font">
                <div *ngIf="code.sender">
                    <div>{{code.sender.email}}</div>
                    <div>{{code.sender.name}}</div>
                </div>
            </ion-col>
            <ion-col col-5 class="small-font">
                <div *ngIf="code.recipient">
                    <div>{{code.recipient.name}}</div>
                </div>
            </ion-col>
        </ion-row>
    </div>

    <ion-row style="border-bottom: 1px solid lightgrey;">
        <ion-col col-12 text-center>
            <h4>קופונים שהשתמשו</h4>
        </ion-col>
    </ion-row>

    <ion-row text-center>
        <ion-col col-2>שם הקופון</ion-col>
        <ion-col col-5>משתמש שקנה</ion-col>
        <ion-col col-3>תוקף</ion-col>
        <ion-col col-2>משומש</ion-col>
    </ion-row>

    <div *ngIf="purchases && purchases.length" text-center>
        <ion-row *ngFor="let purchase of purchases" class="my-row" align-items-center>
            <ion-col col-2 class="small-font">{{purchase.coupon.title}}</ion-col>
            <ion-col col-5 class="small-font">
                <div *ngIf="purchase.user">
                    <div>{{purchase.user.name}}</div>
                </div>
            </ion-col>
            <ion-col col-3 class="small-font">{{purchase.expiration_date}}</ion-col>
            <ion-col col-2>
                <span *ngIf="purchase.used"><ion-icon name="checkmark" style="color: green"></ion-icon></span>
                <span *ngIf="!purchase.used"><ion-icon name="close" style="color: red"></ion-icon></span>
            </ion-col>
        </ion-row>
    </div>

</ion-content>
