page-statistics {

  .custom-row {
    border-bottom: 1px solid lightgrey;
  }

  .custom-row:nth-child(odd){
    background-color: lightgrey;
  }

  .my-row {
    border-bottom: 1px solid lightgrey;
  }

  .my-row:nth-child(odd){
    background-color: lightgrey;
  }

  .small-font {
    font-size: 12px;
  }

  ion-icon {
    font-size: 25px;
    font-weight: bold;
  }
}
