<ion-header>

    <ion-navbar color="primary" text-center>
        <ion-title>כניסה</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <div class="div90" text-center>

        <ion-list no-lines>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-input text-center placeholder="מייל" type="email" [(ngModel)]="manager.email"></ion-input>
            </ion-item>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-input text-center placeholder="סיסמא" type="password" [(ngModel)]="manager.password"></ion-input>
            </ion-item>

        </ion-list>

        <button class="buttonNoBorder" ion-button outline no-border color="primary" (click)="authenticate()">
            <img src="assets/images/arrows_left.png" height="25">&nbsp; <span>התחבר</span>
        </button>

    </div>

</ion-content>
