<ion-header>

    <common-header title="סריקה"></common-header>

</ion-header>

<ion-content padding>

    <div class="div90" text-center>

        <button ion-button block (click)="scan()" *ngIf="!modeOn">סריקה</button>

        <div style="width: 50%; margin: 10px auto;" *ngIf="exists">
            <img src="assets/images/ok.png">
        </div>

    </div>

</ion-content>
