page-points {
  .points-select {
     width: 100% !important;
     min-width: 100% !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
   }

  .grey-row {
    background: color($colors, light) !important;
  }

  ion-label[fixed] {
    min-width: 70%;
  }
}
