<ion-header>

    <common-header title="נקודות"></common-header>

</ion-header>

<ion-content>

    <div class="div90" text-center="">

        <ion-row margin-top class="grey-row">
            <ion-col col-5>
                <ion-select [(ngModel)]="country" class="points-select">
                    <ion-option *ngFor="let country of countries" [value]="country.code">{{country.name}}</ion-option>
                </ion-select>
            </ion-col>
            <ion-col col-7>
                <ion-input text-center placeholder="טלפון" type="number" [(ngModel)]="phone"></ion-input>
            </ion-col>
        </ion-row>

        <ion-item margin-top class="deleteLeftPadding" dir="rtl">
            <ion-label color="primary" fixed>שפת עמוד נחיתה</ion-label>
            <ion-select [(ngModel)]="language">
                <ion-option value="he">עברית</ion-option>
                <ion-option value="en">English</ion-option>
            </ion-select>
        </ion-item>

        <ion-row margin-top *ngFor="let item of points">
            <button ion-button color="primary" block (click)="sendPoints(item.quantity)"><span>נקודות</span>&nbsp;{{item.quantity}}</button>
        </ion-row>

    </div>

</ion-content>
