<ion-header>

    <common-header title="עמוד אישי"></common-header>

</ion-header>


<ion-content>

    <div class="div90" text-center="">

        <ion-list no-lines margin-top>

            <ion-item>
                <ion-input text-center placeholder="שם" type="text" [(ngModel)]="data.name"></ion-input>
            </ion-item>

            <ion-item margin-top>
                <ion-input text-center placeholder="סיסמה ישנה" type="password" [(ngModel)]="data.old_password"></ion-input>
            </ion-item>

            <ion-item margin-top>
                <ion-input text-center placeholder="סיסמה חדשה" type="password" [(ngModel)]="data.new_password"></ion-input>
            </ion-item>

            <button class="buttonNoBorder" margin-top ion-button outline no-border color="primary" (click)="update()">
                <img src="assets/images/arrows_left.png" height="25">&nbsp; <span>עדכן</span>
            </button>

        </ion-list>

    </div>

</ion-content>
