page-coupons {

  .couponPrice {
    background: color($colors, primary) !important;
    color: color($colors, secondary) !important;
    padding: 5px;
    width: 55%;
    text-align: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  ion-row {
    border-bottom: 2px solid #F3F3F3 !important;
    padding: 5px 0;
  }

  .couponQuantity {
    width: 46px;
    height: 46px;
    border-radius: 23px;
    line-height: 46px;
    font-size: 25px;
    margin: 0 auto;
  }
}
