<ion-header>

    <common-header title="קופונים"></common-header>

</ion-header>


<ion-content>

    <ion-grid no-border no-margin no-padding *ngIf="coupons.length > 0">

            <ion-row nowrap align-items-stretch dir="rtl" *ngFor="let coupon of coupons" style="padding-right: 5px;">
                <ion-col col-2 text-center>
                    <img [src]="coupon.image" *ngIf="coupon.image !== ''">
                    <img [src]="init.company.logo"  *ngIf="coupon.image === ''">
                    <img src="assets/images/logo.png"  *ngIf="init.company.logo === '' && coupon.image === ''">
                </ion-col>
                <ion-col col-2 align-self-center text-center>
                    <div class="couponQuantity primaryColor"><span>{{coupon.quantity}}</span></div>
                </ion-col>
                <ion-col col-6 text-right>
                    <div><b>{{coupon.title}}</b></div>
                    <div class="couponPrice"> {{coupon.price}} נקודות</div>
                </ion-col>
                <ion-col col-1 text-center align-self-center>
                    <h1><ion-icon name="create" color="primary" (click)="editCoupon(coupon.id)"></ion-icon></h1>
                </ion-col>
                <ion-col col-1 text-center align-self-center>
                    <h1><ion-icon name="trash" color="primary" (click)="deleteCoupon(coupon.id)"></ion-icon></h1>
                </ion-col>
            </ion-row>

    </ion-grid>

    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="addCoupon()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>
