<ion-header>

    <common-header title="הגדרות הודעות"></common-header>

</ion-header>


<ion-content>

    <div class="div90" *ngIf="company">

        <div margin-top text-center><h3>הודעת פייסבוק</h3></div>

        <ion-item margin-top class="deleteLeftPadding" dir="rtl">
            <ion-textarea rows="4" text-right placeholder="פייסבוק" [(ngModel)]="company.facebook_he"></ion-textarea>
        </ion-item>

        <div margin-top dir="rtl" text-right>{{company.facebook_he}} <a>[קישור לוידאו ראשי]</a></div>

        <ion-item margin-top class="deleteLeftPadding" dir="ltr">
            <ion-textarea rows="4" text-left placeholder="Facebook" [(ngModel)]="company.facebook_en"></ion-textarea>
        </ion-item>

        <div margin-top dir="ltr" text-left>{{company.facebook_en}} <a>[link to main video]</a></div>

        <div margin-top text-center><h3>הודעת סמס</h3></div>

        <ion-item margin-top class="deleteLeftPadding" dir="rtl">
            <ion-textarea rows="4" text-right placeholder="הודעת סמס" [(ngModel)]="company.sms_he"></ion-textarea>
        </ion-item>

        <div margin-top dir="rtl" text-right>{{company.sms_he}} <a>[קישור להורדת אפליקציה]</a></div>

        <ion-item margin-top class="deleteLeftPadding" dir="ltr">
            <ion-textarea rows="4" text-left placeholder="SMS message" [(ngModel)]="company.sms_en"></ion-textarea>
        </ion-item>

        <div margin-top dir="ltr" text-left>{{company.sms_en}} <a>[link to application download]</a></div>

        <div text-center><button margin-top class="buttonNoBorder" ion-button outline no-border color="primary" (click)="update()">
            <img src="assets/images/arrows_left.png" height="25">&nbsp; <span>עדכן</span>
        </button></div>
    </div>

</ion-content>
