<ion-header>

    <ion-navbar color="primary" text-center>
        <ion-title>הוסף קופון</ion-title>
        <ion-buttons end>
            <button ion-button (click)="closeModal()">
                סגור
            </button>
        </ion-buttons>
    </ion-navbar>


</ion-header>

<ion-content>

    <div class="div90" text-center>

        <ion-row *ngIf="image.url !== ''" align-items-center>

            <ion-col col-4>

                <img [src]="image.url" width="80">

            </ion-col>
            <ion-col col-4>
                <button ion-button small color="primary" (click)="deleteImage()">מחק</button>
            </ion-col>
            <ion-col col-4>
                <button ion-button small color="primary" add-picture (targetLogo)="addImage($event)">עדכן</button>
            </ion-col>

        </ion-row>

        <ion-row *ngIf="image.url === ''">

            <button ion-button block color="primary" add-picture (targetLogo)="addImage($event)">הוסף תמונה</button>

        </ion-row>

        <ion-list no-lines>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-input text-center placeholder="כותרת באנגלית" type="text" [(ngModel)]="coupon.title_en"></ion-input>
            </ion-item>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-input text-center placeholder="כותרת בעברית" type="text" [(ngModel)]="coupon.title_he"></ion-input>
            </ion-item>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-input text-center placeholder="מחיר" type="number" [(ngModel)]="coupon.price"></ion-input>
            </ion-item>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-input text-center placeholder="כמות" type="number" [(ngModel)]="coupon.quantity"></ion-input>
            </ion-item>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-textarea placeholder="תיאור באנגלית" text-right [(ngModel)]="coupon.description_en"></ion-textarea>
            </ion-item>

            <ion-item margin-top class="deleteLeftPadding">
                <ion-textarea placeholder="תיואר בעברית" text-right [(ngModel)]="coupon.description_he"></ion-textarea>
            </ion-item>

        </ion-list>

        <button class="buttonNoBorder" ion-button outline no-border color="primary" (click)="addCoupon()">
            <img src="assets/images/arrows_left.png" height="17">&nbsp; שלח
        </button>

    </div>

</ion-content>
