ion-input, ion-select, .item-select .item-inner, ion-textarea {
  background: color($colors, light) !important;
  text-align: center !important;
}

.customSelect ion-label{
  padding-left: 15% !important;
}

.select-ios .select-icon .select-icon-inner, .select-md .select-icon .select-icon-inner {
  color: color($colors, primary) !important;
}

.item {
  padding-left: 8px !important;
}

.item-inner {
  padding-right: 0 !important;
}

.div90 {
  width: 90%;
  margin: 0 auto;
}

button[menuClose], .color-text .toolbar-title {
  color: color($colors, primary) !important;
}

.buttonNoBorder {
  border: none !important;
  font-size: 23px !important;
  line-height: 30px !important;
}

.loginBar {
  width: 70%;
  background-image: url('../assets/images/login_bar.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: right;
  padding: 15px 25px 15px 15px;
  color: white;
  font-weight: bold;
}

.fakeInput {
  font-size: 16px;
  background: color($colors, light) !important;
  text-align: center !important;
  width: 100%;
  margin-top: 13px;
  min-height: 44px;
  line-height: 44px;
  color: #999;
}

.primaryColor {
  background: color($colors, primary) !important;
  color: color($colors, secondary) !important;
}

.greyRow {
  background: color($colors, light) !important;
}

.row100 {
  width: 100%;
  overflow: hidden;
}

.videoUpload {
  width: 100%;
  height: 30vh;
  background: color($colors, light) !important;
  text-align: center;
  padding-top: 10vh;
}

.deleteLeftPadding {
  padding-left: 0 !important;
}

.normalWhiteSpace{
  white-space:normal
}

.alert-title, .alert-radio-label {
  text-align: center;
}

.alert-radio-icon {
  min-width: 0 !important;
}

