<ion-menu [content]="content" side="right">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content style="background-color: white;" dir="rtl">
    <ion-list *ngIf="pages && pages.length">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon name="{{p.icon}}"></ion-icon> &nbsp; {{p.title}}
      </button>
      <button menuClose ion-item (click)="logout()">
        <ion-icon name="exit"></ion-icon> &nbsp; <span>התנתקות</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>