common-header {
    .progressBarEmpty {
      background-color: grey;
      height: 3px;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .progressBarFull {
      background-color: blue;
      height: 3px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
}
