<ion-navbar color="primary" text-center>
    <!--<ion-buttons start>-->
        <!--<button ion-button>-->
            <!--<ion-icon name="add-circle"></ion-icon>-->
        <!--</button>-->
    <!--</ion-buttons>-->
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
        <button ion-button menuToggle right>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <!--<div class="row100">-->
    <div class="row100" *ngIf="uploadProcess">
        <div class="progressBarEmpty" [style.width]="empty + '%'"></div>
        <div class="progressBarFull" [style.width]="full + '%'"></div>
    </div>
</ion-navbar>