<ion-header>

    <common-header title="עובדים"></common-header>

</ion-header>


<ion-content>

    <div class="div90" text-center>

        <ion-list dir="rtl">

            <ion-item>

                <ion-label fixed>שם</ion-label>
                <div item-content text-start>אימייל</div>
                <div item-end text-end>מחק</div>

            </ion-item>

            <ion-item *ngFor="let employee of employees">

                <ion-label fixed>{{employee.name}}</ion-label>
                <div item-content text-start>{{employee.email}}</div>
                <div item-end text-end><ion-icon name="close-circle" (click)="deleteEmployee(employee.id)"></ion-icon></div>

            </ion-item>

        </ion-list>

        <ion-fab right bottom>
            <button ion-fab color="primary" (click)="showPopup()"><ion-icon name="add"></ion-icon></button>
        </ion-fab>

    </div>

</ion-content>
