<ion-header>

    <common-header title="עמוד העסק"></common-header>

</ion-header>


<ion-content>

    <div class="div90" text-center *ngIf="company">

        <ion-grid>

            <ion-row *ngIf="company && company.logo !== ''" align-items-center>

                <ion-col col-4>

                    <img [src]="company && company.logo" width="80" *ngIf="localProgress.logo === false">

                    <div *ngIf="localProgress.logo === true">
                        <ion-spinner name="ios"></ion-spinner>
                        <div>Uploading in process: {{progress}}% </div>
                    </div>

                </ion-col>
                <ion-col col-4>
                    <button ion-button small [disabled]="localProgress.logo || localProgress.video" color="primary" (click)="deleteLogo()">מחק</button>
                </ion-col>
                <ion-col col-4>
                    <button [disabled]="localProgress.logo || localProgress.video" ion-button small color="primary" add-picture (targetLogo)="updateLogo($event)">עדכן</button>
                </ion-col>

            </ion-row>

            <ion-row *ngIf="company.logo === ''">

                <button [disabled]="localProgress.logo || localProgress.video" ion-button block color="primary" add-picture (targetLogo)="setLogo($event)">הוסף תמונה</button>

            </ion-row>

            <ion-row *ngIf="company.main_video !== ''">

                <video [src]="company.main_video" controls *ngIf="localProgress.video === false"></video>

                <div *ngIf="localProgress.video === true" class="videoUpload">
                    <ion-spinner name="ios"></ion-spinner>
                    <div>Uploading in process: {{progress}}%</div>
                </div>

            </ion-row>

            <ion-row *ngIf="company.main_video !== ''">

                <ion-col col-6>
                    <button [disabled]="localProgress.logo || localProgress.video" ion-button block color="primary" (click)="deleteVideo()">מחק</button>
                </ion-col>
                <ion-col col-6>
                    <button ion-button [disabled]="localProgress.logo || localProgress.video" block color="primary" add-video (targetVideo)="updateVideo($event)">עדכן</button>
                </ion-col>

            </ion-row>

            <ion-row *ngIf="company.main_video === ''">

                <button [disabled]="localProgress.logo || localProgress.video" ion-button block color="primary" add-video (targetVideo)="setVideo($event)">הוסף וידאו</button>

            </ion-row>

            <ion-list no-lines>

                <ion-item margin-top class="deleteLeftPadding">
                    <ion-input text-center placeholder="שם העסק" type="text" [(ngModel)]="company.title_he"></ion-input>
                </ion-item>

                <ion-item margin-top class="deleteLeftPadding">
                    <ion-input text-center placeholder="Company title" type="text" [(ngModel)]="company.title_en"></ion-input>
                </ion-item>

                <ion-item margin-top class="deleteLeftPadding">
                    <ion-input text-center placeholder="כתובת" type="text" [(ngModel)]="company.address" id="company_profile_address"></ion-input>
                </ion-item>

                <ion-item margin-top class="deleteLeftPadding">
                    <ion-input text-center placeholder="טלפון" type="tel" [(ngModel)]="company.phone"></ion-input>
                </ion-item>

                <ion-item margin-top class="deleteLeftPadding customSelect">
                    <ion-label color="primary">קטגוריה</ion-label>
                    <ion-select [(ngModel)]="company.company_category_id">
                        <ion-option *ngFor="let category of company_categories" [value]="category.id">{{category.title}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item margin-top class="deleteLeftPadding customSelect">
                    <ion-label color="primary">תת קטגוריה</ion-label>
                    <ion-select [(ngModel)]="company.company_subcategory_id">
                        <ion-option *ngFor="let subcategory of company_categories[company.company_category_id - 1].company_subcategories" [value]="subcategory.id">{{subcategory.title}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item margin-top class="deleteLeftPadding customSelect">
                    <ion-label color="primary">איזור</ion-label>
                    <ion-select [(ngModel)]="company.region_id">
                        <ion-option *ngFor="let region of regions" [value]="region.id">{{region.title}}</ion-option>
                    </ion-select>
                </ion-item>

                <ion-item margin-top class="deleteLeftPadding">
                    <ion-textarea text-right rows='4' placeholder="תיאור" [(ngModel)]="company.description_he"></ion-textarea>
                </ion-item>

                <ion-item margin-top class="deleteLeftPadding">
                    <ion-textarea text-left rows='4' placeholder="Description" [(ngModel)]="company.description_en"></ion-textarea>
                </ion-item>

                <button [disabled]="localProgress.logo || localProgress.video" margin-top class="buttonNoBorder" ion-button outline no-border color="primary" (click)="update()">
                    <img src="assets/images/arrows_left.png" height="25">&nbsp; <span>עדכן</span>
                </button>

            </ion-list>

        </ion-grid>

    </div>

</ion-content>
